/*22161151김보문*/


header {
  width: 1100px;
  height: 40px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}


#logo{
margin-right: 200px;
margin-left: 10px;
margin-top: 3px;
position: fixed;
}

.nav li{
display: inline;
margin-right: 50px;
}

.nav li:hover{
  color: #1BA066;
  font-size: 11px;
}

.nav{
  float: right;
  margin-top: 10px;
  font-size: 10px;
  list-style: none;

}
