/*22161151김보문*/


*{
  margin: 0;
  padding: 0;
}

#main{
width: 1100px;
height: 660px;
margin:0 auto;
margin-top: 20px;
}

#main_two{
width: 1100px;
height: 660px;
margin:0 auto;
margin-top: 60px;
margin-top: 160px;
}

#main_typo{
  margin-top: 300px;
}

section{
  margin-bottom: 50px;
}

#kimbomun{
  text-align: center;
  font-size: 100px;
}

#kimbomun_two{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

#pro_box1{
  margin-top: 50px;
  width: 275px;
  height: 250px;
  background-image: url(./img/pro_1_d.png);
  background-size: 275px;
  background-repeat: no-repeat;
  float: left;
}

#pro_box1:hover{
  background-image: url(./img/pro_1_c.png);
  background-size: 275px;
  background-repeat: no-repeat;
}

#pro_box2{
  margin-top: 50px;
  width: 275px;
  height: 250px;
  background-image: url(./img/pro_2_d.png);
  background-size: 275px;
  background-repeat: no-repeat;
  float: left;
}

#pro_box2:hover{
  background-image: url(./img/pro_2_c.jpg);
  background-size: 275px;
  background-repeat: no-repeat;
}

#pro_box3{
  margin-top: 50px;
  width: 275px;
  height: 250px;
  background-image: url(./img/pro_3_d.png);
  background-size: 275px;
  background-repeat: no-repeat;
  float: left;
}

#pro_box3:hover{
  background-image: url(./img/pro_3_c.png);
  background-size: 275px;
  background-repeat: no-repeat;
}


#pro_box4{
  margin-top: 50px;
  width: 275px;
  height: 250px;
  background-image: url(./img/pro_4_d.png);
  background-size: 275px;
  background-repeat: no-repeat;
  float: left;
}

#pro_box4:hover{
  background-image: url(./img/pro_4_c.png);
  background-size: 275px;
  background-repeat: no-repeat;
}


.clear{left;}

#pro_box5{
  margin-top: 0px;
  width: 275px;
  height: 216px;
  background-image: url(./img/pro_5_d.png);
  background-size: 275px;
  background-repeat: no-repeat;
  float: left;
}

#pro_box5:hover{
  background-image: url(./img/pro_5_c.png);
  background-size: 275px;
  background-repeat: no-repeat;
}

#pro_box6{
  margin-top: 0px;
  width: 825px;
  height: 216px;
  background-image: url(./img/pro_6_d.png);
  background-size:825px;
  background-repeat: no-repeat;
  float: left;
}


#pro_box6:hover{
  background-image: url(./img/pro_6_c.png);
  background-size: 825px;
}


#ability{
  margin: 140px 0 0 170px;
  float: left;
}

.ability_box1{
  width: 150px;
  height: 150px;
  margin-right: 50px;
  display: inline-block;
  background-image: url(./img/ability_1.png);
  background-size: 150px;
}

.ability_box1:hover{
  background-image: url(./img/ability_1_1.png);
  background-size: 150px;
}

.ability_box2{
  width: 150px;
  height: 150px;
  margin-right:50px;
  display: inline-block;
  background-image: url(./img/ability_2.png);
    background-size: 150px;
}

.ability_box2:hover{
  background-image: url(./img/ability_2_1.png);
  background-size: 150px;
}

.ability_box3{
  width: 150px;
  height: 150px;
    margin-right: 50px;
  display: inline-block;
  background-image: url(./img/ability_3.png);
    background-size: 150px;
}

.ability_box3:hover{
  background-image: url(./img/ability_3_1.png);
  background-size: 150px;
}


.ability_box4{
  width: 150px;
  height: 150px;
    margin-right: 50px;
    display:inline-block;
  background-image: url(./img/ability_4.png);
    background-size: 150px;
}

.ability_box4:hover{
  background-image: url(./img/ability_4_1.png);
  background-size: 150px;
}

 #ability li{
   margin: 30px 130px 0 30px;
   display: inline-block;
 }

#ability_typo{
  margin-top: 40px;
 margin-left: 100px;
 margin-right: 100px;
}

#main_uiux{
  margin-top: 4;
}

.main_uiux1 {
  width: 271px;
  height: 466px;
background-image: url(./img/main_uiux_1.png);
background-size: 271px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.main_uiux1:hover {
background-image: url(./img/main_uiux_1_1.jpg);
background-repeat: no-repeat;
}

.main_uiux2 {
  width: 271px;
  height: 466px;
  background-image: url(./img/main_uiux_2.png);
  background-size: 271px;
  background-repeat: no-repeat;
margin-top: 50px;
float: left;
}

.main_uiux2:hover {
background-image: url(./img/main_uiux_2_1.png);
background-repeat: no-repeat;
}


.main_uiux3 {
  width: 271px;
  height: 460px;
  background-image: url(./img/main_uiux_3.png);
  background-size: 271px;
margin-top: 50px;
float: left;
}

.main_uiux3:hover {
background-image: url(./img/main_uiux_3_1.png);
background-repeat: no-repeat;
}

.main_uiux4{
  width: 271px;
  height: 460px;
  background-image: url(./img/main_uiux_4.png);
  background-size:271px;
margin-top: 50px;
float: left;
}


.main_uiux4:hover {
background-image: url(./img/main_uiux_4_1.png);
background-repeat: no-repeat;
}


.uiux_1{
  width: 600px;
  height: 660px;
  float: left;
  background-image: url(./img/uiux.jpg);
  background-size: 600px;
  margin-top: 0;

}


.uiux_2{
  width: 600px;
  height: 660px;
  float: right;
  background-image: url(./img/uiux2.jpg);
  background-size: 600px;
  margin-top: 0;

}


#main_communi{
  margin-top: 4;
}

.communcation_box1 {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box1.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.communcation_box1:hover {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box1_1.png);
}

.communcation_box2 {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box2.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.communcation_box2:hover {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box2_1.png);
}

.communcation_box3 {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box3.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.communcation_box3:hover {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box3_1.png);
}

.communcation_box4 {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box4.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.communcation_box4:hover {
  width: 275px;
  height: 466px;
background-image: url(./img/communi_box4_1.png);
}

.comunication_1{
  width: 1100px;
  height: 360px;
  float: right;
  background-image: url(./gif/communi.gif);
  background-size: 1100px;
  background-repeat: no-repeat;
  margin-top: 300px;
}

.comunication_1:hover{
  background-image: url(./gif/communi.gif);
  background-size: 1100px;

}

.comunication_2{
  width: 1100px;
  height: 360px;
  float: right;
  background-image: url(./img/communi_main_2_2.png);
  background-size: 1100px;
  background-repeat: no-repeat;

}

.comunication_2:hover{
  background-image: url(./img/communi_main_2.png);
}


#pj{
  margin-top: 4;
}

.pg_box1 {
width: 275px;
height: 466px;
background-image: url(./img/pg_box1.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.pg_box1:hover {
  background-image: url(./img/pg_box1_1.png);
}

.pg_box2 {
width: 275px;
height: 466px;
background-image: url(./img/pg_box2.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.pg_box2:hover {
  background-image: url(./img/pg_box2_1.png);
}

.pg_box3 {
width: 275px;
height: 466px;
background-image: url(./img/pg_box3.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.pg_box3:hover {
  background-image: url(./img/pg_box3_1.png);
}

.pg_box4 {
width: 275px;
height: 466px;
background-image: url(./img/pg_box4.png);
background-size: 275px;
margin-top: 50px;
background-repeat: no-repeat;
float: left;
}

.pg_box4:hover {
  background-image: url(./img/pg_box4_1.png);
}



.project_1{
  width: 1100px;
  height: 300px;
  float: right;
  background-image: url(./img/pj_main1_1.png);
  background-repeat: no-repeat;
  background-size: 1100px;
  margin-top: 360px;
}


.project_2{
  width: 500px;
  height: 660px;
  background-image: url(./img/pj_main2.png);
  background-size: 600px;
  background-repeat: no-repeat;
  display: inline-block;
}


.two_typo_box{
width: 400px;
height: 200px;
margin-top: 200px;
float: right;
}

.two_typo{
  float: left;
  margin-top: 60px;
}

.two_typo_box2{
width: 400px;
height: 200px;
margin-right: 650px;
margin-top: 200px;
}

.two_typo_box3{
width: 400px;
height: 200px;
float: left;
position: absolute;
margin-top: 60px;

}


.two_typo_box4{
width: 400px;
height: 200px;
float: right;
}


.two_typo_box5{
width: 400px;

margin-top: 20px;
margin-left: 700px;
position: absolute;

}

.two_typo_box6{
width: 400px;
height: 200px;
float: right;
position: relative;
}

.communi_sub1{
  width: 1535px;
  height: 9930px;
  background-image: url(./img/commun_sub_kr_1.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}

.communi_sub2{
  width: 1535px;
  height: 10480px;
  background-image: url(./img/commun_sub_kr_2.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}

.communi_sub3{
  width: 1535px;
  height: 12000px;
  background-image: url(./img/commun_sub_kr_3.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}


.communi_sub4{
  width: 1535px;
  height: 8700px;
  background-image: url(./img/commun_sub_eg_1.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}

.communi_sub5{
  width: 1535px;
  height: 10480px;
  background-image: url(./img/commun_sub_eg_2.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}

.communi_sub6{
  width: 1535px;
  height: 12000px;
  background-image: url(./img/commun_sub_eg_3.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}

.communi_sub7{
  width: 1535px;
  height: 11387px;
  background-image: url(./img/color.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}

.communi_sub8{
  width: 1535px;
  height: 10387px;
  background-image: url(./img/photo_power.jpg);
  background-size: 1535px;
  background-repeat: no-repeat;
}
